.card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.card__delete-button {
  background-image: url(../images/Trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 19px;
  border: none;
  position: absolute;
  margin: 18px 0 0 249px;
}

.card__delete-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.card__like-button {
  background: transparent url(../images/hearticon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button_active {
  background-image: url(../images/hearticon-active.svg);
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}
