.header {
  margin-top: 45px;
  max-height: 74px;
}

.header__logo {
  margin: 0 0 41px 0;
}

.header__line {
  opacity: 20%;
  margin: auto 0 0;
}

@media screen and (max-width: 580px) {
  .header {
    margin: 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-bottom: 32px;
    margin-top: 28px;
  }
}
